include README.md
include pyproject.toml
recursive-include spec_forge *.py
recursive-include discr *.py
recursive-include stats *.py
recursive-include examples *.py
recursive-include tests *.py
prune external
prune tecio_wrapper
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
